<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="about navbar-brand" href="#">About us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <div>
    <h1>About Us</h1>
  </div>
  <div class="img">
    <img src="../../assets/aboutus-banner.jpg" width="100%" height="50%"/>
  </div>
  <div class="para">Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey. Gadgeon 
    is dedicated to building solid software systems that creates business value for enterprises. Our services include Product 
    engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application – integration & modernization, 
    Full stack development, cloud & Mobile app development, data analytics with AI & ML, testing & automation, and Professional 
    services. Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the extended 
    team from Gadgeon takes care of all engineering and operational activities.

    Gadgeon in the last 10+ years partnered with over 70 customers with successful deployment of more than 170 projects across
     USA, Europe, and APAC. Over the years, we have been identified for quality and engineering excellence. We serve Enterprises,
      ISVs, Product companies, and fast growing startups across Digital Healthcare, Connected factories, Retail & E-Commerce,
       Communication, and Home & Building Automation domains.</div>
