<h1>Connect with us!!</h1>
<div class="formwhole">
<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
  <div class="form-group">
    <label for="eml">Email ID:</label>
    <input type="email" class="form-control" id="eml">
  </div>
  <div class="form-group">
    <label for="num">Mobile no:</label>
    <input type="number" class="form-control" id="num">
  </div>
  <div class="form-group">
    <label for="comment">Message :</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
  <button>Submit</button>
</div>