.formwhole{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 100px;
}
button{
    margin-top: 40px;
}
.form-group{
    color: black;
    font-size: 20px;
    font-family: cursive;
}
h1{
    text-shadow: 3px 4px 5px rgb(188, 161, 161);
    text-align: center;
    margin-top: 40px;
    font-family: cursive;
    font-size: 70px;
}
input{
    background-color: rgba(103, 99, 99, 0.148);
}
textarea{
    background-color: rgba(103, 99, 99, 0.148);
}