<div class="main-container">
    <div class="nav-container-fluid">
        <img src="../assets/download.png" width="250px" height="60px"/>
        <ul class="navbar nav">
      <li><a class="active nav-item" routerLink="home">Home</a></li>
      <li><a class="nav-item" routerLink="about">About us</a></li>
      <li><a class="nav-item" routerLink="contact">Contact</a></li>
      <li><a class="nav-item" routerLink="services">Services</a></li>
       </ul>
    </div><br>
    <div class="component-container"> 
    
       <!-- <app-home></app-home><br>
       <app-about></app-about>
       <app-contact></app-contact>
       <app-services></app-services> -->
   </div>
</div>
<router-outlet></router-outlet>