<h1 class="heading">
    Services
</h1>
<div class="container-fluid">
    <div class="row grid">
        <div class="card" style="width: 25rem;">

            <img src="../../assets/card1.jpg" class="card-img-top" alt="...">
            <div class="card-body1">
                <h1 class="heading1" style="text-align: center;">Product Engineering</h1>
                <p class="card-text1">Product development is all about strategy. We collaborate from the beginning to
                    identify
                    opportunities and develop concepts, helping to shape your strategy. We enable you by determining the
                    right-sized
                    delivery strategy so that you can quickly obtain customer feedback. Our experienced product
                    development
                    team is ready
                    to partner closely to successfully define, build, and evolve compelling and high-performing
                    products.
                </p>
            </div>
        </div>

        <div class="card" style="width: 25rem;">
            <img src="../../assets/card2.jpg" class="card-img-top" alt="...">
            <div class="card-body1">
                <h1  class="heading1" style="text-align:center">IoT Engineering</h1>
                <p class="card-text1">Gadgeon is the one-stop source to start your IoT Journey. Our IoT consulting
                    service
                    facilitates analysis
                    on the transformation potential of the proposed use case along with requirement specification and
                    solution
                    architecture.
                    We help select the technology stacks for connectivity, embedded software, cloud platform & software,
                    companion mobile
                    apps, security strategy, protocols to be used, along with an overall solution development roadmap.
                </p>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <img src="../../assets/card4.jpg" class="card-img-top" alt="...">
            <div class="card-body1">
                <h1  class="heading1" style="text-align:center">Digitalization Services</h1>
                <p class="card-text1">Our team of consults and business analysts will work with your team to conduct an
                    in-depth
                    analysis
                    of your requirements - both functional and non-functional along with due diligence of your
                    enterprise IT
                    environment.
                    This enables us to evaluate technology solution options and develop a high-level architecture and
                    estimates
                    to build
                    and integrate business workflows that meet your business needs.</p>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <img src="../../assets/card3.jpg" class="card-img-top" alt="...">
            <div class="card-body1">
                <h1 class="heading1" style="text-align:center">Enterprise applications</h1>
                <p class="card-text1">Our digitalization consulting services help drive transformation by bringing
                    together
                    the
                    capabilities that drive business growth in this digital age. The main purpose of digitalization
                    consulting
                    services
                    is to help companies and organizations achieve their digital transformation and innovation goals in
                    the
                    most
                    efficient way.
                    This will help them to stay relevant using technology and digital channels.</p>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <img src="../../assets/card5.jpg" class="card-img-top" alt="...">
            <div class="card-body1">
                <h1 class="heading1" style="text-align:center">Testing Services</h1>
                <p class="card-text1">Our testing services ensure quality in every step of the application development
                    lifecycle
                    and
                    leverage proved methodologies and tools in performing functional and non-functional testing and
                    automation.
                    Our
                    approach to application testing consists of continuous testing during the entire application life
                    cycle,
                    which is
                    risk-driven and focused on business goals. We always try to ensure the right balance between
                    automated
                    and
                    manual
                    testing.</p>
            </div>
        </div>
        <div class="card" style="width: 25rem;">
            <img src="../../assets/card6.jpg" class="card-img-top" alt="...">
            <div class="card-body1">
                <h1 class="heading1" style="text-align:center">Professional Services</h1>
                <p class="card-text1">Extended Engineering team is a joint journey where Gadgeon guides our customers by
                    following a
                    phased industry-standard framework for transition, service delivery, and continuous optimization.
                    This
                    model
                    involves
                    teams that extend the client’s team and are mainly placed at Gadgeon’s offshore development
                    location(s).
                </p>
            </div>
        </div>
    </div>
</div>