.cards1{
   
    border:1px solid black;
   
    border-radius:8px ;
    margin-top: 70px;
    width: 100vw;
    margin-left: 10vw;
    margin-right: 10%;

   
}

.cards1:hover{
    box-shadow:  3px 4px 6px rgb(26, 23, 23) ;
}



h1{
    text-shadow: 3px 4px 5px rgb(188, 161, 161);
    text-align: center;
    margin-top: 40px;
}
p{
    margin-left: 30px;
    text-align:justify;
    margin-right: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    border:1px solid rgb(77, 75, 75);
    background-color: rgba(111, 108, 108, 0.316);
    border-style:ridge;
    box-shadow: 5px 10px 10px grey;
}

ul{
    float:right;
    list-style: none;
    margin-right:650px;
    margin-top: 30px;

}
li{
    float: left;
    margin-left: 100px;
}
.cards2{
    display: flex;

    
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a:hover{
    background-color: rgb(121, 111, 108);
}