<!-- <header>
    <nav>
        <img src="../../assets/download.png"  width="200px" height="100px"/>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </nav>

</header> -->
<!-- <br> <br>
<div class="container-fluid">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div> -->
<br><br>
<div class="cards2">
     <div class="cards1"> 
        <img src="../../assets/gadgeonone.webp" width="300px" height="300px"/>

    </div>
    <div class="cards1">
 
        <img src="../../assets/th.webp" width="300px" height="300px"/>
    </div>
    <div class="cards1">
        <img src="../../assets/tha.webp" width="300px" height="300px"/>
    </div>
</div><br>

<div>
    <h1>Who is Gadgeon ? </h1><br>
    <p>GadgEon is an end-to-end Product Engineering and Technology Consultancy
         Partner in the Digital Transformation Journey of our customers. We are an ISO 9001:2015 and ISO13485 certified company. 
         Established in 2011 and has over 70+ satisfied customers across the USA, Europe, Australia, the Middle East, and India. 
         GadgEon has two wholly-owned subsidiary companies - GadgEon Lifestyle and GadgEon Medical Systems.

        Our services include Product Engineering, IoT Engineering, Embedded Systems - Hardware and Firmware, Enterprise application 
        - integration and modernization, Full stack development, Cloud and Mobile app development, and Data Analytics with AI and ML.

        
        GadgEon Middle-East started its operations in 2021 to cater to the specific demands of our GCC customers. Over the years, we
         have been identified for Quality and Engineering Excellence.</p>
</div>